@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.app{
    min-height: 100vh;
    display: flex;
    background-image: url(https://github.com/piyush-eon/mern-chat-app/blob/master/frontend/src/background.png?raw=true);
    background-size: cover;
    background-position: center;
}